<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="test2.baidu.com.baseasr">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <meta-data
                android:name="com.baidu.speech.APP_ID"
                android:value="10674398"/>
        <meta-data
                android:name="com.baidu.speech.API_KEY"
                android:value="a8aZUvtoQjsrsVKy7UolPtUe"/>
        <meta-data
                android:name="com.baidu.speech.SECRET_KEY"
                android:value="d14094ef8273855e1736f6ddc7b487c0"/>
    </application>
</manifest>
